//Tipografía
$fuente_principal: 'Montserrat', sans-serif;
$fw_300: 300;
$fw_400: 400;
$fw_700: 700;
$fw_900: 900;

// Colores
$verde: #359797;
$rosa: #39393A;
$amarillo: #fef46d;
$morado: #EE2E31;
$negro: #000;
$blanco: #fff;

//Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

$maxPhone: 480px;
$maxTablet: 768px;
$maxDesktop: 992px;
$maxDesktopXL: 1200px;